@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@200;300;400;600;700&display=swap');

@import "tailwindcss";

body {
    font-family: 'Nunito-sans', sans-serif;
}

/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
height: 100px;
background: blueviolet;
color: beige;
box-shadow: 0 0 12px 8px #8a2be263
}


.logo {
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    
}

.nav-items > ul > li {
    padding: 10px;
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
}

.res-card {
    width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.card-img {
    width: 100%;
    height: 200px;
}

.filter-btn {
    margin: 10px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;

}

.shimmer-card {
    width: 300px;
    height: 400px;
    background-color: rgb(240, 240, 240);
}

.loginBtn {
    padding: 0px 10px;
    cursor: pointer;
}

.searchBtn {
    cursor: pointer;
    margin-left: 4px;
}

.user-card {
    border: 1px solid grey;
} */